<div class="profile-users clearfix">
<div class="itemdiv memberdiv">
    <div class="inline position-relative">
        <div class="user">
            <a href="#">
                <img src="assets/avatars/avatar4.png" alt="Bob Doe's avatar">
            </a>
        </div>

        <div class="body">
            <div class="name">
                <a href="#">
                    <span class="user-status status-online"></span>
                    Bob Doe
                </a>
            </div>
        </div>

        <div class="popover right">
            <div class="arrow"></div>

            <div class="popover-content">
                <div class="bolder">Content Editor</div>

                <div class="time">
                    <i class="icon-time middle bigger-120 orange"></i>
                    <span class="green"> 20 mins ago </span>
                </div>

                <div class="hr dotted hr-8"></div>

                <div class="tools action-buttons">
                    <a href="#">
                        <i class="icon-facebook-sign blue bigger-150"></i>
                    </a>

                    <a href="#">
                        <i class="icon-twitter-sign light-blue bigger-150"></i>
                    </a>

                    <a href="#">
                        <i class="icon-google-plus-sign red bigger-150"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="itemdiv memberdiv">
    <div class="inline position-relative">
        <div class="user">
            <a href="#">
                <img src="assets/avatars/avatar1.png" alt="Rose Doe's avatar">
            </a>
        </div>

        <div class="body">
            <div class="name">
                <a href="#">
                    <span class="user-status status-offline"></span>
                    Rose Doe
                </a>
            </div>
        </div>

        <div class="popover right">
            <div class="arrow"></div>

            <div class="popover-content">
                <div class="bolder">Graphic Designer</div>

                <div class="time">
                    <i class="icon-time middle bigger-120 grey"></i>
                    <span class="grey"> 30 min ago </span>
                </div>

                <div class="hr dotted hr-8"></div>

                <div class="tools action-buttons">
                    <a href="#">
                        <i class="icon-facebook-sign blue bigger-150"></i>
                    </a>

                    <a href="#">
                        <i class="icon-twitter-sign light-blue bigger-150"></i>
                    </a>

                    <a href="#">
                        <i class="icon-google-plus-sign red bigger-150"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="itemdiv memberdiv">
    <div class="inline position-relative">
        <div class="user">
            <a href="#">
                <img src="assets/avatars/avatar.png" alt="Jim Doe's avatar">
            </a>
        </div>

        <div class="body">
            <div class="name">
                <a href="#">
                    <span class="user-status status-busy"></span>
                    Jim Doe
                </a>
            </div>
        </div>

        <div class="popover right">
            <div class="arrow"></div>

            <div class="popover-content">
                <div class="bolder">SEO &amp; Advertising</div>

                <div class="time">
                    <i class="icon-time middle bigger-120 red"></i>
                    <span class="grey"> 1 hour ago </span>
                </div>

                <div class="hr dotted hr-8"></div>

                <div class="tools action-buttons">
                    <a href="#">
                        <i class="icon-facebook-sign blue bigger-150"></i>
                    </a>

                    <a href="#">
                        <i class="icon-twitter-sign light-blue bigger-150"></i>
                    </a>

                    <a href="#">
                        <i class="icon-google-plus-sign red bigger-150"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="itemdiv memberdiv">
    <div class="inline position-relative">
        <div class="user">
            <a href="#">
                <img src="assets/avatars/avatar5.png" alt="Alex Doe's avatar">
            </a>
        </div>

        <div class="body">
            <div class="name">
                <a href="#">
                    <span class="user-status status-idle"></span>
                    Alex Doe
                </a>
            </div>
        </div>

        <div class="popover right">
            <div class="arrow"></div>

            <div class="popover-content">
                <div class="bolder">Marketing</div>

                <div class="time">
                    <i class="icon-time middle bigger-120 orange"></i>
                    <span class=""> 40 minutes idle </span>
                </div>

                <div class="hr dotted hr-8"></div>

                <div class="tools action-buttons">
                    <a href="#">
                        <i class="icon-facebook-sign blue bigger-150"></i>
                    </a>

                    <a href="#">
                        <i class="icon-twitter-sign light-blue bigger-150"></i>
                    </a>

                    <a href="#">
                        <i class="icon-google-plus-sign red bigger-150"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="itemdiv memberdiv">
    <div class="inline position-relative">
        <div class="user">
            <a href="#">
                <img src="assets/avatars/avatar2.png" alt="Phil Doe's avatar">
            </a>
        </div>

        <div class="body">
            <div class="name">
                <a href="#">
                    <span class="user-status status-online"></span>
                    Phil Doe
                </a>
            </div>
        </div>

        <div class="popover right">
            <div class="arrow"></div>

            <div class="popover-content">
                <div class="bolder">Public Relations</div>

                <div class="time">
                    <i class="icon-time middle bigger-120 orange"></i>
                    <span class="green"> 2 hours ago </span>
                </div>

                <div class="hr dotted hr-8"></div>

                <div class="tools action-buttons">
                    <a href="#">
                        <i class="icon-facebook-sign blue bigger-150"></i>
                    </a>

                    <a href="#">
                        <i class="icon-twitter-sign light-blue bigger-150"></i>
                    </a>

                    <a href="#">
                        <i class="icon-google-plus-sign red bigger-150"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="itemdiv memberdiv">
    <div class="inline position-relative">
        <div class="user">
            <a href="#">
                <img src="assets/avatars/avatar3.png" alt="Susan Doe's avatar">
            </a>
        </div>

        <div class="body">
            <div class="name">
                <a href="#">
                    <span class="user-status status-online"></span>
                    Susan Doe
                </a>
            </div>
        </div>

        <div class="popover right">
            <div class="arrow"></div>

            <div class="popover-content">
                <div class="bolder">HR Management</div>

                <div class="time">
                    <i class="icon-time middle bigger-120 orange"></i>
                    <span class="green"> 20 mins ago </span>
                </div>

                <div class="hr dotted hr-8"></div>

                <div class="tools action-buttons">
                    <a href="#">
                        <i class="icon-facebook-sign blue bigger-150"></i>
                    </a>

                    <a href="#">
                        <i class="icon-twitter-sign light-blue bigger-150"></i>
                    </a>

                    <a href="#">
                        <i class="icon-google-plus-sign red bigger-150"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="itemdiv memberdiv">
    <div class="inline position-relative">
        <div class="user">
            <a href="#">
                <img src="assets/avatars/avatar1.png" alt="Jennifer Doe's avatar">
            </a>
        </div>

        <div class="body">
            <div class="name">
                <a href="#">
                    <span class="user-status status-offline"></span>
                    Jennifer Doe
                </a>
            </div>
        </div>

        <div class="popover left">
            <div class="arrow"></div>

            <div class="popover-content">
                <div class="bolder">Graphic Designer</div>

                <div class="time">
                    <i class="icon-time middle bigger-120 grey"></i>
                    <span class="grey"> 2 hours ago </span>
                </div>

                <div class="hr dotted hr-8"></div>

                <div class="tools action-buttons">
                    <a href="#">
                        <i class="icon-facebook-sign blue bigger-150"></i>
                    </a>

                    <a href="#">
                        <i class="icon-twitter-sign light-blue bigger-150"></i>
                    </a>

                    <a href="#">
                        <i class="icon-google-plus-sign red bigger-150"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="itemdiv memberdiv">
    <div class="inline position-relative">
        <div class="user">
            <a href="#">
                <img src="assets/avatars/avatar3.png" alt="Alexa Doe's avatar">
            </a>
        </div>

        <div class="body">
            <div class="name">
                <a href="#">
                    <span class="user-status status-offline"></span>
                    Alexa Doe
                </a>
            </div>
        </div>

        <div class="popover left">
            <div class="arrow"></div>

            <div class="popover-content">
                <div class="bolder">Accounting</div>

                <div class="time">
                    <i class="icon-time middle bigger-120 grey"></i>
                    <span class="grey"> 4 hours ago </span>
                </div>

                <div class="hr dotted hr-8"></div>

                <div class="tools action-buttons">
                    <a href="#">
                        <i class="icon-facebook-sign blue bigger-150"></i>
                    </a>

                    <a href="#">
                        <i class="icon-twitter-sign light-blue bigger-150"></i>
                    </a>

                    <a href="#">
                        <i class="icon-google-plus-sign red bigger-150"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>