<form name="createAlbum">
    <input type="text" name="album" id="form-field-1" style="height: 35px; width: 300px" placeholder="Nome do album">
    <button type="button" class="btn btn-primary create-album" style="margin: 0 0 10px 0;"  >
        <i class="icon-book bigger-125"></i>
        Criar
    </button>
</form>

<div class="hr dotted"></div>


<div class="list-albums"></div>