<% var friends = data; %>

<div class="profile-users clearfix">
<% $.each(friends, function(i, friend) {  %>
    <div class="itemdiv memberdiv">
        <div class="inline position-relative">
            <div class="user">
                <a href="#">
                    <img src="<%= API.dataUrl %>bundles/socialnetworkindex/users/<%= friend.photoProfile %>" alt="Bob Doe's avatar">
                </a>
            </div>

            <div class="body">
                <div class="name">
                    <a href="<%= API.dataUrl %>Profile/<%= friend.uid %>">
                        <span class="user-status status-online"></span>
                        <%= friend.name %>
                    </a>
                </div>
            </div>

            <div class="popover right">
                <div class="arrow"></div>

                <div class="popover-content">
                    <div class="bolder">Content Editor</div>

                    <div class="time">
                        <i class="icon-time middle bigger-120 orange"></i>
                        <span class="green"> 20 mins ago </span>
                    </div>

                    <div class="hr dotted hr-8"></div>

                    <div class="tools action-buttons">
                        <a href="#">
                            <i class="icon-facebook-sign blue bigger-150"></i>
                        </a>

                        <a href="#">
                            <i class="icon-twitter-sign light-blue bigger-150"></i>
                        </a>

                        <a href="#">
                            <i class="icon-google-plus-sign red bigger-150"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% }); %>
</div>