<form name="createGroup">
    <input type="text" name="album" id="form-field-1" style="height: 35px; width: 300px" placeholder="Nome do grupo">
    <button type="button" class="btn btn-primary create-group" style="margin: 0 0 10px 0;"  >
        <i class="icon-group bigger-125"></i>
        Criar
    </button>
</form>

<div class="hr dotted"></div>


<div class="list-groups"></div>