<% var albums = data.albums; var user = data; %>

<div class="span12" style="margin: 0 0 15px 0;">
    <% var count = 1;%>
    <% $.each(albums, function(i, album){ %>
    <div class="span3 album" album="<%= album.title %>">
        <div class="thumb-pad">
            <div class="thumbnail">
                <img style="height: 200px;width: 300px;" src="<% if ( album.cover ) { %><%= API.dataUrl %>bundles/socialnetworkindex/users/<%= user.id %>/albums/<%= album.title %>/<%= album.cover %><% } else { %> <%= API.dataUrl %>bundles/socialnetworkindex/img/cover.png <% } %>" alt="">
                <div class="caption">
                    <h5><%= album.title %></h5>
                    <button type="button" class="btn open">Abrir</button>
                </div>
            </div>
        </div>
    </div>
    <% if( count == 4 ) { count = 0; %>
</div>
<div class="span12" style="margin: 0 0 15px 0;">
    <% } count++; %>

    <% }) %>
</div>