
<!--
<div class="page-header position-relative">
    <h1>
        Página de perfil do usuário
        <small>
            <i class="icon-double-angle-right"></i>
            3 styles with inline editable feature
        </small>
    </h1>
</div><!--/.page-header-->

<div class="row-fluid">
    <div class="span12">
        <div class="tabbable">
            <ul class="nav nav-tabs " id="myTab">
                <li class="active">
                    <a data-toggle="tab" href="#profile">
                        <i class="green icon-user bigger-110"></i>
                        Perfil
                    </a>
                </li>

                <li>
                    <a data-toggle="tab" href="#albums">
                        <i class=" icon-camera bigger-110"></i>
                        Fotos
                    </a>
                </li>

                <li>
                    <a data-toggle="tab" href="#friend">
                        <i class="blue icon-heart bigger-110"></i>
                        Amigos
                    </a>
                </li>

                <li>
                    <a data-toggle="tab" href="#groups">
                        <i class="green icon-group bigger-110"></i>
                        Grupos
                    </a>
                </li>

                <li>
                    <a data-toggle="tab" href="#follows">
                        <i class="black icon-smile bigger-110"></i>
                        Seguidores
                    </a>
                </li>

            </ul>

            <div class="tab-content">
                <div id="profile" class="tab-pane active"></div>

                <div id="albums" class="tab-pane">albums</div>

                <div id="photos" class="tab-pane">photos</div>

                <div id="friend" class="tab-pane">friends</div>

                <div id="groups" class="tab-pane">Groups</div>

                <div id="follows" class="tab-pane">Follow</div>
            </div>
        </div>
    </div>

</div><!--/.row-fluid-->
