<%
var invites = data;
%>
<div class="navbar-inner">
<div class="container-fluid">
<a href="#" class="brand">
    <small>
        <i class="icon-hand-right"></i>
        IBUSN - Social Network
    </small>
</a><!--/.brand-->

<ul class="nav ace-nav pull-right">
<li class="blue">

        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
            <i class="icon-heart"></i>
            <span class="badge badge-grey"><%= invites.length %></span>
        </a>


    <ul class="pull-right dropdown-navbar dropdown-menu dropdown-caret dropdown-closer friend-invite">

        <li class="nav-header">
            <i class="icon-ok"></i>
            <span><%= invites.length %></span> Novas solicitações de amizade
        </li>

        <% $.each(invites, function(i, invite){ %>
            <li invite-id="<%= invite.id %>">
                <a href="#">
                    <img src="assets/avatars/avatar.png" class="msg-photo" alt="Alex's Avatar">

                    <span class="msg-body">
                        <span class="msg-title">
                            <span class="blue"><%= invite.name %></span>
                             quer ser seu amigo
                        </span>
                        <span>
                            <button class="btn btn-success btn-mini accept">
                                <i class="icon-ok bigger-110 icon-only"></i>
                            </button>
                            <button class="btn btn-danger btn-mini decline">
                                <i class="icon-remove bigger-110 icon-only"></i>
                            </button>
                        </span>
                    </span>
                </a>
            </li>
        <% }) %>

        <% if ( invites.length ) { %>
            <li>
                <a href="<%= API.dataUrl %>Friend/my">
                    Ver todas as solicitações de amizade
                    <i class="icon-arrow-right"></i>
                </a>
            </li>
        <% } %>
    </ul>
</li>

<li class="purple">
    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
        <i class="icon-bell-alt icon-animated-bell"></i>
        <span class="badge badge-important">8</span>
    </a>

    <ul class="pull-right dropdown-navbar navbar-pink dropdown-menu dropdown-caret dropdown-closer">
        <li class="nav-header">
            <i class="icon-warning-sign"></i>
            8 Notifications
        </li>

        <li>
            <a href="#">
                <div class="clearfix">
                                                        <span class="pull-left">
                                                            <i class="btn btn-mini no-hover btn-pink icon-comment"></i>
                                                            New Comments
                                                        </span>
                    <span class="pull-right badge badge-info">+12</span>
                </div>
            </a>
        </li>

        <li>
            <a href="#">
                <i class="btn btn-mini btn-primary icon-user"></i>
                Bob just signed up as an editor ...
            </a>
        </li>

        <li>
            <a href="#">
                <div class="clearfix">
                                                        <span class="pull-left">
                                                            <i class="btn btn-mini no-hover btn-success icon-shopping-cart"></i>
                                                            New Orders
                                                        </span>
                    <span class="pull-right badge badge-success">+8</span>
                </div>
            </a>
        </li>

        <li>
            <a href="#">
                <div class="clearfix">
                                                        <span class="pull-left">
                                                            <i class="btn btn-mini no-hover btn-info icon-twitter"></i>
                                                            Followers
                                                        </span>
                    <span class="pull-right badge badge-info">+11</span>
                </div>
            </a>
        </li>

        <li>
            <a href="#">
                See all notifications
                <i class="icon-arrow-right"></i>
            </a>
        </li>
    </ul>
</li>

<li class="green">
    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
        <i class="icon-envelope icon-animated-vertical"></i>
        <span class="badge badge-success">5</span>
    </a>

    <ul class="pull-right dropdown-navbar dropdown-menu dropdown-caret dropdown-closer">
        <li class="nav-header">
            <i class="icon-envelope-alt"></i>
            5 Messages
        </li>

        <li>
            <a href="#">
                <img src="assets/avatars/avatar.png" class="msg-photo" alt="Alex's Avatar" />
                                                    <span class="msg-body">
                                                        <span class="msg-title">
                                                            <span class="blue">Alex:</span>
                                                            Ciao sociis natoque penatibus et auctor ...
                                                        </span>

                                                        <span class="msg-time">
                                                            <i class="icon-time"></i>
                                                            <span>a moment ago</span>
                                                        </span>
                                                    </span>
            </a>
        </li>

        <li>
            <a href="#">
                <img src="assets/avatars/avatar3.png" class="msg-photo" alt="Susan's Avatar" />
                                                    <span class="msg-body">
                                                        <span class="msg-title">
                                                            <span class="blue">Susan:</span>
                                                            Vestibulum id ligula porta felis euismod ...
                                                        </span>

                                                        <span class="msg-time">
                                                            <i class="icon-time"></i>
                                                            <span>20 minutes ago</span>
                                                        </span>
                                                    </span>
            </a>
        </li>

        <li>
            <a href="#">
                <img src="assets/avatars/avatar4.png" class="msg-photo" alt="Bob's Avatar" />
                                                    <span class="msg-body">
                                                        <span class="msg-title">
                                                            <span class="blue">Bob:</span>
                                                            Nullam quis risus eget urna mollis ornare ...
                                                        </span>

                                                        <span class="msg-time">
                                                            <i class="icon-time"></i>
                                                            <span>3:15 pm</span>
                                                        </span>
                                                    </span>
            </a>
        </li>

        <li>
            <a href="#">
                See all messages
                <i class="icon-arrow-right"></i>
            </a>
        </li>
    </ul>
</li>

<li class="light-blue">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">
        <img class="nav-user-photo" src="<%= API.dataUrl %>bundles/socialnetworkindex/users/<%= API.me.data.id %>/albums/Fotos de perfil/<%= API.me.data.photoProfile %>" alt="Jason's Photo" />
                                            <span class="user-info">
                                                <small>Bem vindo,</small>
                                                <%= API.me.data.name %>
                                            </span>

        <i class="icon-caret-down"></i>
    </a>

    <ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-closer">
        <li>
            <a href="#">
                <i class="icon-cog"></i>
                Configurações
            </a>
        </li>

        <li>
            <a href="<%= API.dataUrl %>Profile/<%= API.me.data.uid %>">
                <i class="icon-user"></i>
                Perfil
            </a>
        </li>

        <li class="divider"></li>

        <li>
            <a href="<%= API.dataUrl %>logout">
                <i class="icon-off"></i>
                Sair
            </a>
        </li>
    </ul>
</li>
</ul><!--/.ace-nav-->
</div><!--/.container-fluid-->
</div><!--/.navbar-inner-->