<div class="sidebar-shortcuts" id="sidebar-shortcuts">
    <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
        <button class="btn btn-small btn-success tooltip-success profile" data-original-title="Perfil" >
            <i class="icon-user"></i>
        </button>

        <button class="btn btn-small btn-info tooltip-info"  data-original-title="Amigos">
            <i class="icon-heart"></i>
        </button>

        <button class="btn btn-small btn-warning tooltip-warning" data-original-title="Grupo">
            <i class="icon-group"></i>
        </button>

        <button class="btn btn-small btn-danger tooltip-error"  data-original-title="Configurações">
            <i class="icon-cogs"></i>
        </button>
    </div>

    <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
        <span class="btn btn-success"></span>

        <span class="btn btn-info"></span>

        <span class="btn btn-warning"></span>

        <span class="btn btn-danger"></span>
    </div>
</div><!--#sidebar-shortcuts-->

<ul class="nav nav-list" id="nav-list">
    <li>
        <a href="#" class="home">
            <i class="icon-home"></i>
            <span class="menu-text"> Página principal </span>
        </a>
    </li>

    <li>
        <a href="#" class="home">
            <i class="icon-calendar"></i>
            <span class="menu-text"> Calendário </span>
        </a>
    </li>

</ul><!--/.nav-list-->

<div class="sidebar-collapse" id="sidebar-collapse">
    <i class="icon-double-angle-left"></i>
</div>