								<form>
								<div class="modal-header no-padding">
									<div class="table-header">
										<button type="button" class="close" data-dismiss="modal">×</button>
										Adicionar novo evento
									</div>
								</div>

								<div class="modal-body no-padding">
									<div class="row-fluid">
										<input type="text" class="span12" name="title" placeholder="Nome do evento"> 
										<textarea name="description" class="span12"></textarea>
										<input type="file" name="eventBanner">
									</div>
								</div>

								<div class="modal-footer">
									<button class="btn btn-small btn-danger pull-left" data-dismiss="modal">
										<i class="icon-remove"></i>
										Fechar
									</button>
									<button type="button" class="btn btn-small btn-success pull-left save-event">
										<i class="icon-save"></i>
										Salvar
									</button>

									
								</div>
								</form>