<%
var newMembers = data;
%>

<% $.each(newMembers, function( i, newMember ){ %>
    <div class="itemdiv memberdiv">
        <div class="user">
            <img alt="Alex Doe's avatar" src="assets/avatars/avatar5.png" />
        </div>

        <div class="body">
            <div class="name">
                <a href="<%= API.dataUrl %>Profile/<%= newMember.uid %>"><%= newMember.name %></a>
            </div>

            <div class="time">
                <i class="icon-time"></i>
                <span class="green">3 hour</span>
            </div>

            <!--<div>
                <span class="label label-important">blocked</span>
            </div>-->
        </div>
    </div>
<% }) %>








<!--<div class="itemdiv memberdiv">
        <div class="user">
            <img alt="Bob Doe's avatar" src="assets/avatars/user.jpg" />
        </div>

        <div class="body">
            <div class="name">
                <a href="#">Bob Doe</a>
            </div>

            <div class="time">
                <i class="icon-time"></i>
                <span class="green">20 min</span>
            </div>

            <div>
                <span class="label label-warning">pending</span>

                <div class="inline position-relative">
                    <button class="btn btn-minier bigger btn-yellow dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-angle-down icon-only bigger-120"></i>
                    </button>

                    <ul class="dropdown-menu dropdown-icon-only dropdown-yellow pull-right dropdown-caret dropdown-close">
                        <li>
                            <a href="#" class="tooltip-success" data-rel="tooltip" title="Approve">
                                                                                            <span class="green">
                                                                                                <i class="icon-ok bigger-110"></i>
                                                                                            </span>
                            </a>
                        </li>

                        <li>
                            <a href="#" class="tooltip-warning" data-rel="tooltip" title="Reject">
                                                                                            <span class="orange">
                                                                                                <i class="icon-remove bigger-110"></i>
                                                                                            </span>
                            </a>
                        </li>

                        <li>
                            <a href="#" class="tooltip-error" data-rel="tooltip" title="Delete">
                                                                                            <span class="red">
                                                                                                <i class="icon-trash bigger-110"></i>
                                                                                            </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="itemdiv memberdiv">
        <div class="user">
            <img alt="Joe Doe's avatar" src="assets/avatars/avatar2.png" />
        </div>

        <div class="body">
            <div class="name">
                <a href="#">Joe Doe</a>
            </div>

            <div class="time">
                <i class="icon-time"></i>
                <span class="green">1 hour</span>
            </div>

            <div>
                <span class="label label-warning">pending</span>

                <div class="inline position-relative">
                    <button class="btn btn-minier bigger btn-yellow dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-angle-down icon-only bigger-120"></i>
                    </button>

                    <ul class="dropdown-menu dropdown-icon-only dropdown-yellow pull-right dropdown-caret dropdown-close">
                        <li>
                            <a href="#" class="tooltip-success" data-rel="tooltip" title="Approve">
                                                                                            <span class="green">
                                                                                                <i class="icon-ok bigger-110"></i>
                                                                                            </span>
                            </a>
                        </li>

                        <li>
                            <a href="#" class="tooltip-warning" data-rel="tooltip" title="Reject">
                                                                                            <span class="orange">
                                                                                                <i class="icon-remove bigger-110"></i>
                                                                                            </span>
                            </a>
                        </li>

                        <li>
                            <a href="#" class="tooltip-error" data-rel="tooltip" title="Delete">
                                                                                            <span class="red">
                                                                                                <i class="icon-trash bigger-110"></i>
                                                                                            </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="itemdiv memberdiv">
        <div class="user">
            <img alt="Jim Doe's avatar" src="assets/avatars/avatar.png" />
        </div>

        <div class="body">
            <div class="name">
                <a href="#">Jim Doe</a>
            </div>

            <div class="time">
                <i class="icon-time"></i>
                <span class="green">2 hour</span>
            </div>

            <div>
                <span class="label label-warning">pending</span>

                <div class="inline position-relative">
                    <button class="btn btn-minier bigger btn-yellow dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-angle-down icon-only bigger-120"></i>
                    </button>

                    <ul class="dropdown-menu dropdown-icon-only dropdown-yellow pull-right dropdown-caret dropdown-close">
                        <li>
                            <a href="#" class="tooltip-success" data-rel="tooltip" title="Approve">
                                                                                            <span class="green">
                                                                                                <i class="icon-ok bigger-110"></i>
                                                                                            </span>
                            </a>
                        </li>

                        <li>
                            <a href="#" class="tooltip-warning" data-rel="tooltip" title="Reject">
                                                                                            <span class="orange">
                                                                                                <i class="icon-remove bigger-110"></i>
                                                                                            </span>
                            </a>
                        </li>

                        <li>
                            <a href="#" class="tooltip-error" data-rel="tooltip" title="Delete">
                                                                                            <span class="red">
                                                                                                <i class="icon-trash bigger-110"></i>
                                                                                            </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="itemdiv memberdiv">
        <div class="user">
            <img alt="Alex Doe's avatar" src="assets/avatars/avatar5.png" />
        </div>

        <div class="body">
            <div class="name">
                <a href="#">Alex Doe</a>
            </div>

            <div class="time">
                <i class="icon-time"></i>
                <span class="green">3 hour</span>
            </div>

            <div>
                <span class="label label-important">blocked</span>
            </div>
        </div>
    </div>

    <div class="itemdiv memberdiv">
        <div class="user">
            <img alt="Bob Doe's avatar" src="assets/avatars/avatar2.png" />
        </div>

        <div class="body">
            <div class="name">
                <a href="#">Bob Doe</a>
            </div>

            <div class="time">
                <i class="icon-time"></i>
                <span class="green">6 hour</span>
            </div>

            <div>
                <span class="label label-success arrowed-in">approved</span>
            </div>
        </div>
    </div>

    <div class="itemdiv memberdiv">
        <div class="user">
            <img alt="Susan's avatar" src="assets/avatars/avatar3.png" />
        </div>

        <div class="body">
            <div class="name">
                <a href="#">Susan</a>
            </div>

            <div class="time">
                <i class="icon-time"></i>
                <span class="green">yesterday</span>
            </div>

            <div>
                <span class="label label-success arrowed-in">approved</span>
            </div>
        </div>
    </div>

    <div class="itemdiv memberdiv">
        <div class="user">
            <img alt="Phil Doe's avatar" src="assets/avatars/avatar4.png" />
        </div>

        <div class="body">
            <div class="name">
                <a href="#">Phil Doe</a>
            </div>

            <div class="time">
                <i class="icon-time"></i>
                <span class="green">2 days ago</span>
            </div>

            <div>
                <span class="label label-info arrowed-in  arrowed-in-right">online</span>
            </div>
        </div>
    </div>

    <div class="itemdiv memberdiv">
        <div class="user">
            <img alt="Alexa Doe's avatar" src="assets/avatars/avatar1.png" />
        </div>

        <div class="body">
            <div class="name">
                <a href="#">Alexa Doe</a>
            </div>

            <div class="time">
                <i class="icon-time"></i>
                <span class="green">3 days ago</span>
            </div>

            <div>
                <span class="label label-success arrowed-in">approved</span>
            </div>
        </div>
    </div>
    -->