<div class="page-header">
    <h1>Nome do grupo</h1>
</div>

<div id="accordion2" class="accordion">
    <div class="accordion-group">
        <div class="accordion-heading">
            <a href="#collapseOne" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle collapsed">
                Histórico
            </a>
        </div>

        <div class="accordion-body collapse" id="collapseOne" style="height: 0px;">
            <div class="accordion-inner">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
            </div>
        </div>
    </div>

    <div class="accordion-group">
        <div class="accordion-heading">
            <a href="#collapseTwo" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle collapsed">
                Matérias
            </a>
        </div>

        <div class="accordion-body collapse" id="collapseTwo" style="height: 0px;">
            <div class="accordion-inner">

                <div id="tree2" class="tree tree-unselectable">
                </div>

            </div>
        </div>
    </div>

    <div class="accordion-group">
        <div class="accordion-heading">
            <a href="#collapseThree" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle collapsed">
                Participantes
            </a>
        </div>

        <div class="accordion-body collapse" id="collapseThree" style="height: 0px;">
            <div class="accordion-inner">
                <div class="profile-users clearfix">
                    <div class="itemdiv memberdiv">
                        <div class="inline position-relative">
                            <div class="user">
                                <a href="#">
                                    <img src="assets/avatars/avatar4.png" alt="Bob Doe's avatar">
                                </a>
                            </div>

                            <div class="body">
                                <div class="name">
                                    <a href="#">
                                        <span class="user-status status-online"></span>
                                        Bob Doe
                                    </a>
                                </div>
                            </div>

                            <div class="popover">
                                <div class="arrow"></div>

                                <div class="popover-content">
                                    <div class="bolder">Content Editor</div>

                                    <div class="time">
                                        <i class="icon-time middle bigger-120 orange"></i>
                                        <span class="green"> 20 mins ago </span>
                                    </div>

                                    <div class="hr dotted hr-8"></div>

                                    <div class="tools action-buttons">
                                        <a href="#">
                                            <i class="icon-facebook-sign blue bigger-150"></i>
                                        </a>

                                        <a href="#">
                                            <i class="icon-twitter-sign light-blue bigger-150"></i>
                                        </a>

                                        <a href="#">
                                            <i class="icon-google-plus-sign red bigger-150"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="accordion-group">
        <div class="accordion-heading">
            <a href="#collapseFour" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle collapsed">
                Professores
            </a>
        </div>

        <div class="accordion-body collapse" id="collapseFour" style="height: 0px;">
            <div class="accordion-inner">
                <div class="profile-users clearfix">
                    <div class="itemdiv memberdiv">
                        <div class="inline position-relative">
                            <div class="user">
                                <a href="#">
                                    <img src="assets/avatars/avatar4.png" alt="Bob Doe's avatar">
                                </a>
                            </div>

                            <div class="body">
                                <div class="name">
                                    <a href="#">
                                        <span class="user-status status-online"></span>
                                        Bob Doe
                                    </a>
                                </div>
                            </div>

                            <div class="popover">
                                <div class="arrow"></div>

                                <div class="popover-content">
                                    <div class="bolder">Content Editor</div>

                                    <div class="time">
                                        <i class="icon-time middle bigger-120 orange"></i>
                                        <span class="green"> 20 mins ago </span>
                                    </div>

                                    <div class="hr dotted hr-8"></div>

                                    <div class="tools action-buttons">
                                        <a href="#">
                                            <i class="icon-facebook-sign blue bigger-150"></i>
                                        </a>

                                        <a href="#">
                                            <i class="icon-twitter-sign light-blue bigger-150"></i>
                                        </a>

                                        <a href="#">
                                            <i class="icon-google-plus-sign red bigger-150"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


        Dono do grupo
